---
import { getLangFromUrl, useTranslations } from '../../../i18n';
import './styles.css';
import { LocalMenuRepository } from '../infrastructure/LocalMenuRepository';
import type { MenuItem } from '../domain/types';
import { Icon } from '../../../ui-library/components/ssr/icon/Icon';
import { AnyclazzAuthRepository } from '@/features/auth/ssr/infrastructure/AnyclazzAuthRepository';
import { getSession } from 'auth-astro/server';
import { UpgradeSuperTutorBanner } from '@/features/teachers/components/upgrade-supertutor-banner/UpgradeSuperTutorBanner';

const { class: className, isDark } = Astro.props;
const { pathname } = Astro.url;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations({ lang });

const authRepository = new AnyclazzAuthRepository();
const user = await authRepository.getCurrentUser(await getSession(Astro.request));

const menuRepository = new LocalMenuRepository();
let menuItems: MenuItem[] = [];
if (user?.role === 'teacher') {
    menuItems = menuRepository.getTeacherMenuItems();
} else if (user?.role === 'student') {
    menuItems = menuRepository.getStudentMenuItems();
}

const commonMenuItems: MenuItem[] = menuRepository.getCommonMenuItems();

const isItemSelected = (item: MenuItem): boolean => {
    if (item.href === pathname) {
        return true;
    }
    if (item.subItems) {
        return item.subItems.some((subItem) => isItemSelected(subItem));
    }
    return false;
};

---

<div class:list={['menu__container', isDark && 'dark', className]}>
    <ul class="menu__content">
        <div class="menu__content-main">
            {menuItems.map((menuItem) => (
                <a href={menuItem.href}>
                    <li>
                            <div class:list={[
                                'menu__item',
                                pathname === menuItem.href && 'menu__item--selected',
                            ]}>
                                <div class="menu__item-icon">
                                    {menuItem.icon && (
                                        <Icon icon={menuItem.icon} iconWidth={20} iconHeight={20} />
                                    )}
                                </div>
                                <div class="text-base font-semibold menu__item-text">{t(menuItem.label as keyof typeof t)}</div>
                                {menuItem.subItems?.length && <div class="menu__item-chevron"><Icon icon={isItemSelected(menuItem) ? 'chevron-up' : 'chevron-down'} /></div>}
                            </div>
                            {menuItem.subItems?.length && isItemSelected(menuItem) && 
                            (
                                <ul class="menu__content">
                                    {menuItem.subItems.map((subItem) => (
                                        <a href={subItem.href}>
                                            <li>
                                                <div class:list={[
                                                    'menu__item',
                                                    pathname === subItem.href && 'menu__item--selected',
                                                ]}>
                                                    <div class="menu__item-icon">
                                                        {subItem.icon && (
                                                            <Icon icon={subItem.icon} iconWidth={20} iconHeight={20} />
                                                        )}
                                                    </div>
                                                    <div class="text-base font-semibold menu__item-text">{t(subItem.label as keyof typeof t)}</div>
                                                </div>
                                            </li>
                                        </a>
                                    ))}
                                </ul>
                            )}
                    </li>
                </a>
            ))}
        </div>

        <div class="menu__content-footer">
            {user?.role === 'teacher' && !user.isSuperTutor && (
                <>
                    <UpgradeSuperTutorBanner />
                </>
            )}
           {commonMenuItems.map((menuItem) => (
                <a href={menuItem.href}>
                    <li>
                            <div class:list={[
                                'menu__item',
                                pathname === menuItem.href && 'menu__item--selected',
                            ]}>
                                <div class="menu__item-icon">
                                    {menuItem.icon && (
                                        <Icon icon={menuItem.icon} iconWidth={20} iconHeight={20} />
                                    )}
                                </div>
                                <div class="text-base font-semibold menu__item-text">{t(menuItem.label as keyof typeof t)}</div>
                                {menuItem.subItems?.length && <div class="menu__item-chevron"><Icon icon={isItemSelected(menuItem) ? 'chevron-up' : 'chevron-down'} /></div>}
                            </div>
                            {menuItem.subItems?.length && isItemSelected(menuItem) && 
                            (
                                <ul class="menu__content">
                                    {menuItem.subItems.map((subItem) => (
                                        <a href={subItem.href}>
                                            <li>
                                                <div class:list={[
                                                    'menu__item',
                                                    pathname === subItem.href && 'menu__item--selected',
                                                ]}>
                                                    <div class="menu__item-icon">
                                                        {subItem.icon && (
                                                            <Icon icon={subItem.icon} iconWidth={20} iconHeight={20} />
                                                        )}
                                                    </div>
                                                    <div class="text-base font-semibold menu__item-text">{t(subItem.label as keyof typeof t)}</div>
                                                </div>
                                            </li>
                                        </a>
                                    ))}
                                </ul>
                            )}
                    </li>
                </a>
            ))}
        </div>
    </div>
</div>
