---
import Main from '../layout/Main.astro';
import { useTranslations, getLangFromUrl } from '@/i18n';
import { Breadcrumb } from '@/ui-library/components/breadcrumb';
import { Space } from '@/ui-library/components/ssr/space/Space';
import { AnyclazzMyBookingsRepository } from '@/features/bookings/infrastructure/AnyclazzMyBookingsRepository';
import { AnyclazzAuthRepository } from '@/features/auth/ssr/infrastructure/AnyclazzAuthRepository';
import { getSession } from 'auth-astro/server';
import { Dashboard as TeacherDashboard } from '@/features/teachers/dashboard/Dashboard';

const session = await getSession(Astro.request);
const accessToken = session?.accessToken as string;

if (!accessToken) {
	return Astro.redirect('/login');
}

const authRepository = new AnyclazzAuthRepository();
const user = await authRepository.getCurrentUser(session);

const repository = new AnyclazzMyBookingsRepository();
const upcomingBookings = await repository.getUpcomingBookings({token: accessToken});
const lastBookings = await repository.getLastLessons({token: accessToken});

export const prerender = false;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations({ lang });

// Mock clazzmate data
const clazzmate = {
    referralLink: 'anyclazz.nn.com/4060020',
    friendsInvited: 3,
    creditsEarned: 20.00
};

const upcomingLessons = upcomingBookings.slice(0, 3);
const lastLessons = lastBookings.slice(0, 3);

---

<Main title="Dashboard">
	<div class="px-4 py-2 sm:p-8">
		<Breadcrumb
			items={[
				{ label: t('menu.dashboard'), href: '/dashboard' },
			]}
		/>
		<Space size={16} direction="vertical" />

		<TeacherDashboard lang={lang} upcomingLessons={upcomingLessons} lastLessons={lastLessons} user={user} client:load />

		<!-- {selectedLesson && (
			<LessonDetailsModal
				lesson={selectedLesson}
				onClose={closeLessonDetails}
				onCancel={() => {
					console.log('Cancel lesson');
					closeLessonDetails();
				}}
				onSendMessage={() => {
					console.log('Send message');
					closeLessonDetails();
				}}
				onJoin={() => {
					console.log('Join lesson');
					closeLessonDetails();
				}}
			/>
		)} -->
	</div>
</Main>
