---
import '../design-system/index.css';
import '../layout/styles.css';
import '../features/shared/utils/dateConfig';
import SeoHead from './components/SeoHead.astro';

import { getLangFromAstro } from '../i18n';
const lang = getLangFromAstro(Astro.cookies);

const { title, description, keywords = [], isDark, noindex = false } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <SeoHead
            title={title}
            description={description}
            keywords={keywords}
            noindex={noindex}
            lang={lang}
        />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body class="overflow-hidden">
        <div id="portal-root"></div>
        <slot/>
    </body>
</html>